<div class="dashboard-container margin-top-25px padding-bottom-25px">
  <%= link_to 'Back to workouts',dashboard_workout_plan_path(@workout.workout_plan_id) %>
  <br />
  <span class="section-title"><%= @workout.name %> Sets</span>
  <br />
  <table class="margin-25px">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Rep Type</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Duplicate</th>
      <th>Delete</th>
    </tr>
    <% @workout_sets.each do |w| %>
      <tr>
        <td><%= w.name %></td>
        <td><%= w.amount %></td>
        <td><%= w.rep_type %></td>
        <td><%= w.description %></td>
        <td>
          <%= link_to edit_workout_workout_set_path(@workout.id ,w.id) do %>
            <%= image_tag('edit_dark_icon.png', style: 'width: 20px;') %>
          <% end %>
        </td>
        <td>
          <%= link_to duplicate_workout_workout_set_path(@workout.id, w.id), method: :post do %>
            <%= image_tag('copy_icon.png', style: 'width: 20px;') %>
          <% end %>
        </td>
        <td>
          <%= link_to workout_workout_set_path(@workout.id, w.id), method: :delete, data: { confirm: "Are you sure?" } do %>
            X
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Add Set", new_workout_workout_set_path(@workout.id)%>
</div>
