<div class="container plans-container">
  <div class="split-container">
    <span class="section-title"><%= @workout_plan.name %></span>
    <div class="workout-image"></div>
    <span class="workout-summary"><%= @workout_plan.summary %></span>
    <span class="workout-description"><%= @workout_plan.description %></span>
    <span class="workout-summary">By: <%= @workout_plan.user.email %></span>
    <% follower_amount = Follow.where(workout_plan: @workout_plan).length %>
    <% if follower_amount == 1 %>
      <span class="workout-stats"><%= follower_amount %> Follower</span>
    <% else %>
      <span class="workout-stats"><%= follower_amount%> Followers</span>
    <% end %>
    <% if Follow.where(user: current_user, workout_plan: @workout_plan).present? %>
      <div class="secondary-button-div">
        Following
      </div>
    <% else %>
      <%= link_to follow_workout_plan_path(@workout_plan, follow: true), class: 'primary-button', method: :post do %>
        Follow
      <% end %>
    <% end %>
  </div>
  <div class="split-container">
    <% workout_count = Workout.where(workout_plan: @workout_plan)%>
    <% if workout_count.length == 1 %>
      <span class="workout-stats"><%= workout_count.length %> Workout</span>
    <% else %>
      <span class="workout-stats"><%= workout_count.length %> Workouts</span>
    <% end %>
    <!-- this should be in a facade -->
    <% @workout.each do |workout_day| %>
      <%= link_to workout_workout_sets_path(workout_day) do %>
        <div class="workout-day-box">
          <div class="workout-day">
            Day <%= workout_day.day %>
          </div>
          <div class="workout-name">
            <%= workout_day.name %>
          </div>
        </div>
      <% end %>
      <% if current_user == workout_day.workout_plan.user %>
        <%= link_to edit_workout_path(workout_day), class: 'workout-edit' do %>
          Edit
        <% end %>
      <% end %>
    <% end %>
    <% if current_user == @workout_plan.user %>
      <%= link_to new_workout_plan_workout_path, class: 'secondary-button margin-top-25px' do %>
        New Workout
      <% end %>
    <% end %>
  </div>
</div>
