<div class="container plans-container">
  <div class="split-container">
    <h1 class="section-title"><%= @workout_plan.name %></h1>
    <p><%= @workout_plan.summary %></p>
    <p><%= @workout_plan.description %></p>
    <% if Follow.where(user: current_user, workout_plan: @workout_plan).present? %>
      <div class="secondary-button-div">
        Following
      </div>
    <% else %>
      <%= link_to follow_workout_plan_path(@workout_plan, follow: true), class: 'primary-button', method: :post do %>
        Follow
      <% end %>
    <% end %>
  </div>
  <div class="split-container">
    <% @workout.each do |f| %>
    <%= link_to workout_workout_sets_path(f) do %>
      <div class="workout-day-box">
        <div class="workout-day">
          Day <%= f.day %>
        </div>
        <div class="workout-name">
          <%= f.name %>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'New Workout', new_workout_plan_workout_path %>
