<div class="nav">
  <a class="logo"><span class="thin">Chi</span>Cho</a>

  <div class="link-group">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <%= link_to "Your plans", home_profile_path %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <%= link_to "Find Workouts", workout_plans_path %>
    <%= link_to "Create Workouts", new_workout_plan_path %>
  </div>
</div>
