<div class="container plans-container">
  <div class="split-container">
    <div class="crumbs-link">
      <%= link_to 'Following', home_profile_path, class: 'crumbs-active' %> | <%= link_to 'Created', home_created_path %>
    </div>
    <h1 class="section-title">Your plans</h1>
    <% if @following.length < 1 %>
      <p>You arent following any plans</p>
      <%= link_to 'Follow Plan', workout_plans_path %>
    <% else %>
      <% @following.each do |follow| %>
        <div class="plan-container">
          <div class="plan-image"></div>
          <div class="plan-content">
            <div class="plan-description">
              <p><%= follow.workout_plan.description %></p>
            </div>
            <div class="plan-cta">
              <span class="plan-title"><%= link_to follow.workout_plan.name, workout_plan_workouts_path(follow.workout_plan) %></span>
              <%= link_to delete_follow_workout_plan_path(follow.id), class: 'plan-follow-button unfollow-button', method: :post do %>
              unfollow
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="split-container">
  </div>
</div>
