<div class="content-container">
  <h1 class="plan-type-heading">Most Popular</h1>
  <div class="container plans-container">
    <div class="split-container">
      <% @workout_plans.each do |plan| %>
        <%= link_to workout_plan_workouts_path(plan) do %>
          <div class="plan-container">
            <div class="plan-image">
              <%= image_tag(plan.picture.url) if plan.picture? %>
            </div>
            <div class="plan-content">
              <div class="plan-name">
                <span><%= plan.name %></span>
              </div>
              <div class="plan-description">
                <%= plan.description %>
              </div>
              <% workouts = Workout.where(workout_plan_id: plan.id) %>
              <% completed_count =  CompletedWorkout.where(workout_id: workouts) %>
              <% follower_amount = Follow.where(workout_plan: plan).length %>
              <% total_workouts = workouts.length * follower_amount %>
              <% if completed_count.length == 0 || follower_amount == 0 %>
                <% completed_percentage = "0" %>
              <% else %>
                <% completed_percentage = (1.0 * completed_count.length/total_workouts * 100).round(0) %>
              <% end %>
              <div class="plan-stats">
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= workouts.length %></div>
                  <div class="plan-stat-info-title">Workouts</div>
                </div>
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= completed_percentage %>%</div>
                  <div class="plan-stat-info-title">Completion Rate</div>
                </div>
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= follower_amount %></div>
                  <div class="plan-stat-info-title">Followers</div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="split-container">
      <% @workout_plans.each do |plan| %>
        <%= link_to workout_plan_workouts_path(plan) do %>
          <div class="plan-container">
            <div class="plan-image">
              <%= image_tag(plan.picture.url) if plan.picture? %>
            </div>
            <div class="plan-content">
              <div class="plan-name">
                <span><%= plan.name %></span>
              </div>
              <div class="plan-description">
                <%= plan.description %>
              </div>
              <% workouts = Workout.where(workout_plan_id: plan.id) %>
              <% completed_count =  CompletedWorkout.where(workout_id: workouts) %>
              <% follower_amount = Follow.where(workout_plan: plan).length %>
              <% total_workouts = workouts.length * follower_amount %>
              <% if completed_count.length == 0 || follower_amount == 0 %>
                <% completed_percentage = "0" %>
              <% else %>
                <% completed_percentage = (1.0 * completed_count.length/total_workouts * 100).round(0) %>
              <% end %>
              <div class="plan-stats">
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= workouts.length %></div>
                  <div class="plan-stat-info-title">Workouts</div>
                </div>
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= completed_percentage %>%</div>
                  <div class="plan-stat-info-title">Completion Rate</div>
                </div>
                <div class="plan-stat-info-container">
                  <div class="plan-stat-info-number"><%= follower_amount %></div>
                  <div class="plan-stat-info-title">Followers</div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
